@import "./Styles&Font&Mixins.scss";
div.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;

    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;

    overflow-x: hidden;
    overflow-y: scroll;

    background: $White;

    nav {
        position: sticky;
        top: 0;

        display: flex;
        flex-direction: row;
        align-items: center;

        max-height: 90px;
        width: 100%;
        padding: 45px 25px;

        background: rgba(255, 255, 255, 0.021);
        backdrop-filter: blur(45px);

        z-index: 1000;

        a.logo img {
            width: 45px;
        }
    }
    .view {
        display: flex;
        flex-direction: column;
        gap: 25px;

        height: fit-content;
        width: 100vw;
        max-width: 650px;

        padding: 0 14px 45px 14px;
        overflow: visible;

        div.user-hero {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            position: relative;
            aspect-ratio: 5/6.5;

            img {
                width: 100%;

                aspect-ratio: 5/6.5;

                object-fit: cover;
                border-radius: 25px;

                z-index: 1;
            }
            span.img-stack {
                content: "";
                position: absolute;
                top: 0;

                width: 100%;

                aspect-ratio: 5/6.5;

                border-radius: 25px;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.92%, #000 124.34%), url(<path-to-image>),
                    #ffffff00 50% / cover no-repeat;
                z-index: 1;
            }
            div.text-wrap {
                position: absolute;
                bottom: 0;

                padding: 25px;
                z-index: 10;

                color: white;

                span {
                    font-family: Inter;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 125%; /* 21.25px */

                    opacity: 0.45;
                }
                h3 {
                    font-family: Inter;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 135%; /* 43.2px */
                }
                p {
                    font-family: Inter;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 125%; /* 21.25px */

                    opacity: 0.75;
                }
            }
        }
        span.divider {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;

            color: $Black;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 16px */
            letter-spacing: -0.5px;

            opacity: 0.25;

            margin: 0 12px;

            p {
                min-width: fit-content;
            }

            &::after,
            &::before {
                content: "";

                display: block;

                height: 1px;
                width: 100%;

                background: $Black;
            }
        }
        div.contact-wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 7px;

            button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 12px;
                align-self: stretch;

                width: 100%;
                max-width: 145px;

                padding: 12px 20px;

                border: solid 1px $FadedBlack;
                border-radius: 45px;

                color: $Black;
            }
        }
        div.connects-wrap {
            display: flex;
            flex-direction: column;
            gap: 7px;

            width: auto;

            button.connection {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 18px;

                border: solid 1px $FadedBlack;
                border-radius: 12px;
                padding: 16px 16px;

                text-align: center;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%; /* 18px */
                letter-spacing: -0.5px;

                color: $Black;

                cursor: pointer;

                position: relative;
                z-index: 1;

                background: $FadedWhite;

                overflow: hidden;

                img {
                    height: 35px;
                    width: 35px;
                    object-position: center;

                    &.backset {
                        top: 35%;
                        left: 5%;
                        height: 120px;
                        width: 120px;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                        filter: blur(48px);
                        opacity: 0.25;
                        transition: 0.5s;
                    }
                    &.link {
                        height: 25px;
                        margin: 0 0 0 auto;
                    }
                }
                &:hover img.backset {
                    height: 225px;
                    width: 225px;
                    left: 25%;
                }
            }
            button.add-btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 12px;
                align-self: stretch;

                width: 100%;
                max-width: 145px;

                padding: 12px 20px;

                border: solid 1px $FadedBlack;
                border-radius: 45px;

                color: $Black;
            }
        }
    }
}
