$AccentGreen: #ADFF00;
$FadeAccentGreen: #aeff0040;
$AccentViolets: #8F00FF;
$AccentLilRed: #FF3030;
$White: #ffffff;
$PaperWhite: #e4e4e4;
$Black: #000000;
$FadedBlack: #00000040;
$DarkGray: #141414;

@font-face {
    font-family: "Inter";
    src: url(../Inter-Variable.ttf);
}
// font-family: Inter;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: unset;
    text-decoration-color: black;
    border: 0;
    outline-offset: unset;
}